<div class="cncf-section">
  <p>
    CRI-O is a <a href="https://cncf.io" target="_blank">Cloud Native Computing Foundation</a> graduated project.
  </p>
  
  <img class="cncf-section-logo" src="/logo/cncf-logo.png" alt="Cloud Native Computing Foundation logo">
  <p>
    2023 © CRI-O Project Authors. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks.
    For a list of trademarks of The Linux Foundation, please see our Trademark Usage page:
    <a href="https://www.linuxfoundation.org/trademark-usage">https://www.linuxfoundation.org/trademark-usage</a>
  </p>
</div>
