@import "normalize";
@import "rouge-github";
@import "variables";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

@mixin sr-only {
  border: 0;
  clip-path: inset(50%);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  color: $body-text-color;
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.page-header {
  background-color: $header-bg-color;
  text-align: center;
}

.page-header-content {
  margin: 0 auto;
  max-width: 64rem;
  padding: 1rem;
  position: relative;
}

.project-blog {
  background: $header-heading-color;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 0.6875rem;
  margin: 0;
  position: absolute;
  right: 1em;
  text-transform: uppercase;
  top: 0;

  @include large {
    right: 6rem;
  }

  @include medium {
    right: 4rem;
  }

  &:hover {
    background: darken($header-heading-color, 5%);
  }

  a {
    color: #fff;
    display: block;
    padding: 3px 6px;


    &:hover {
      text-decoration: none;
    }
  }
}

.project-name {
  background-image: url("../../logo/crio-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 130px;
  margin: 0;

  @include large {
    height: 190px;
  }

  @include medium {
    height: 160px;
  }

  span {
    @include sr-only();
  }
}

.project-tagline {
  color: $header-heading-color;
  font-size: 0.9375rem;
  font-weight: 400;
  margin: 0;
  padding: 5px 10px 25px;
  text-transform: uppercase;

  @include large {
    font-size: 1.1875rem;
  }

  @include medium {
    font-size: 1.0625rem;
  }
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
  }

  @include medium {
    padding: 2rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $section-headings-color;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  p {
    margin-bottom: 1em;
  }

  code {
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 3px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.8125rem;
    padding: 1px 4px;
  }

  pre {
    background-color: $code-bg-color;
    border-radius: 3px;
    border: solid 1px $border-color;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.8125rem;
    margin-bottom: 1rem;
    margin-top: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 6px 10px;
    word-wrap: normal;

    > code {
      background: transparent;
      border: 0;
      padding: 0;
      white-space: pre;
      word-break: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
}

.site-footer {
  border-top: solid 1px $hr-border-color;
  margin-top: 2rem;
  padding-top: 0.5rem;
}

.site-footer-credits {
  font-size: 0.6875rem;
}

.contributors {
  display: flex;
  list-style: none;
  margin: 0 -5px;
  padding: 0;
  text-align: center;
}

.contributor {
  border: 1px solid $header-heading-color;
  flex: 1 0 auto;
  font-weight: 700;
  margin: 0 5px 0;
  padding: 20px 0;
}

.features {
  border-bottom: 1px solid $hr-border-color;
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px 5px;

  @media(min-width: #{$medium-breakpoint}) {
    display: flex;
    margin: 0 -10px;
    padding: 20px 0 30px;
    text-align: center;
  }
}

.feature {
  clear: left;
  font-size: 0.8125rem;
  margin: 0;
  padding: 0 0 20px;

  @media(min-width: #{$medium-breakpoint}) {
    flex: 1 1 33.333333%;
    padding-left: 10px;
    padding-right: 10px;
  }

  img {
    float: left;
    margin: 0 15px 40px 0;
    max-width: 48px;

    @media(min-width: #{$medium-breakpoint}) {
      float: none;
      display: block;
      margin: 0 auto 20px;
      max-width: 60px;
    }

    @media(min-width: #{$large-breakpoint}) {
      max-width: 70px;
    }
  }

  strong {
    color: $section-headings-color;
    display: block;
    font-size: 1.0625rem;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;

    @media(min-width: #{$medium-breakpoint}) {
      font-size: 1.125rem;
      margin-bottom: 10px;
      white-space: nowrap;
    }

    @media(min-width: #{$large-breakpoint}) {
      font-size: 1.1875rem;
    }
  }
}
