// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-bg-color: #f1f5ff !default;
$header-heading-color: #386ebf !default;

// Text
$blockquote-text-color: #666 !default;
$body-link-color: #0088ce !default;
$body-text-color: #444 !default;
$section-headings-color: #35528e !default;

// Code
$code-bg-color: #fbfcff !default;

// Borders
$border-color: #dce6f0 !default;
$hr-border-color: #e9ebec !default;
$table-border-color: #e9ebec !default;
